<section class="hero <%= data.section&.css %>">
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button" class="navbar-burger burger" aria-label="menu"
        aria-expanded="false" data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to('Home', '/', class: 'navbar-item') %>
        <hr class="navbar-divider">
        <%= link_to('About', '/about', class: 'navbar-item') %>
        <hr class="navbar-divider">
        <%= link_to('Talks', '/talks', class: 'navbar-item') %>
        <hr class="navbar-divider">
        <%= link_to('Side projects', '/side-projects', class: 'navbar-item') %>
        <hr class="navbar-divider">
        <%= link_to('Blog', '/blog', class: 'navbar-item', rel: 'feed') %>
      </div>
    </div>
  </nav>

  <% if block_given? %>
    <%= yield %>
  <% end %>
</section>
