<section class="hero <%= data.section&.css %>">
  <nav class="navbar is-transparent">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link <%= data.navbar.navbar_link&.css %>">
        </a>
        <div class="navbar-dropdown is-hidden-touch">
          <%= link_to('Home', '/', class: 'navbar-item') %>
          <hr class="navbar-divider">
          <%= link_to('About', '/about', class: 'navbar-item') %>
          <hr class="navbar-divider">
          <%= link_to('Talks', '/talks', class: 'navbar-item') %>
          <hr class="navbar-divider">
          <%= link_to('Side projects', '/side-projects', class: 'navbar-item') %>
        </div>
      </div>
    </div>
  </nav>

  <% if block_given? %>
    <%= yield %>
  <% elsif data.title %>
    <div class="hero-body has-text-centered">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <h1 class="title"><%= data.title %></h1>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
